@include media-breakpoint-down(xs)
    .header-bg
        min-height: 150px


@include media-breakpoint-down(sm)
    #navbarNavDropdown
        background-color: #393939


@include media-breakpoint-down(md)
    .navbar
        margin-top: 72px
        font-size: 18px


@include media-breakpoint-down(lg)
    #navbarNavDropdown
        background-color: none


@include media-breakpoint-down(xl)
    // 132