@include media-breakpoint-down(xs)
    .header-bg
        background: $second-color
    .main-menu
        .navbar
            margin-top: 0



@include media-breakpoint-down(sm)
    #navbarNavDropdown
        background-color: #393939
    .main-menu
        padding: 0
        .navbar
            padding: 15px  0


@include media-breakpoint-down(md)
    .navbar
        margin-top: 72px
        font-size: 18px


@include media-breakpoint-down(lg)
    #navbarNavDropdown
        background-color: none


@include media-breakpoint-down(xl)
    // 132