.sub-header
    height: 280px
    width: 100%
    margin-top: -67px
    border-bottom: 9px solid #A74040
    h1
        color: $gold-color
        background: none
        margin-left: 70px
        margin-top: 82px
        font-size: 50px
        line-height: 48px

p.h1-description
    font-size: 24px
    margin-left: 70px

.homepage
    .sub-header
        background: url('../img/backgrounds/subheader-bg.jpg') center top no-repeat

.history_page
    .sub-header
        background: url('../img/backgrounds/subheader-bg-history.jpg') center top no-repeat

.about_winerys
    .sub-header
        background: url('../img/backgrounds/subheader-bg-winerys.jpg') center top no-repeat

.about_shops
    .sub-header
        background: url('../img/backgrounds/subheader-bg-shops.jpg') center top no-repeat

.about_museum
    .sub-header
        background: url('../img/backgrounds/subheader-bg-museum.jpg') center top no-repeat

.about_stockholder
    .sub-header
        background: url('../img/backgrounds/subheader-bg-stockholders.jpg') center top no-repeat

.products
    .sub-header
        background: url('../img/backgrounds/subheader-bg-wine.jpg') center top no-repeat

.contacts_page
     .sub-header
        background: url('../img/backgrounds/subheader-bg-contacts.jpg') center top no-repeat


.content
    color: $grey-color
    .container
        border-left: dotted #AAAAAA 1px
        border-right: dotted #AAAAAA 1px
        box-shadow: 0 0 50px -2px rgba(0, 0, 0, 0.3)
        padding: 0
        background-color: #fff
    a
        text-decoration: underline 

.article-heading
	margin: 30px 0 20px 0px
	font-size: 34px

.intro
    padding-left: 73px
    padding-right: 15px
    iframe
        margin-top: 20px
    .article-heading
        padding-top: 30px

.video-container
    position: relative
    padding-bottom: 56.25%
    padding-top: 30px 
    height: 0
    overflow: hidden

.video-container iframe,
.video-container object,
.video-container embed
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.article-content
    margin: 0 0 10px 30px
    padding: 0  0 2px 15px 
    border-left: 1px solid #A74040
    font-size: 14px
    line-height: 18px

.primary
    h3
        background: none
        margin: 10px 0 30px 0px
        padding: 30px 0 30px 73px
        font-size: 26px
        font-weight: 500
        border-bottom: solid 3px #A74040
        background: #f1f1f1
    .full-image-slice
        background: #f1f1f1
        padding: 20px 20px 20px 73px
        margin: 36px 0 0 0px
        img
            max-width: 100%
    .article-info-wrapper
        padding-left: 73px
        padding-right: 15px
        margin: 10px 0 30px 0
    .article-section-info
        border-bottom: 1px solid #D5C89F

.homepage
    .primary
        .article-section-info
            font-size: 14px
            text-indent: 50px
            padding-bottom: 16px
            background: url('../img/p-article-styling.png') no-repeat
            

.primary 
    .article-info-wrapper
        h4
            background: none
            font-family: Georgia, serif, sans-serif
            color:#4f5559
            font-size: 15px
            font-weight: bold
            padding-bottom: 3px
            padding-top: 10px

aside
    box-shadow: inset 3px 0px 3px -1px rgba(217,217,217,1)
    background: linear-gradient(to bottom, rgba(248,248,248,1) 0%, rgba(244,244,244,1) 100%)
    padding: 0 0 0 2px
    height: 100%
    overflow: hidden
    h2
        padding: 0 0 15px 0px
        margin: 30px 0 20px 23px
        font-size: 34px
        font-weight: normal

.newest-title
    background: #EEEEEE url('../img/backgrounds/arrow-link.png') 19px 19px no-repeat
    padding: 18px 23px
    text-indent: 15px
    margin: 20px 0 20px 0px
    border-bottom: 5px solid #dcdcdc
    position: relative
    .aside-arrow
        position: absolute
        display: block
        width: 30px
        height: 18px
        background: url('../img/aside-arrow.png') no-repeat
        bottom: -17px
        left: 50%
        transform: translateX(-50%) 

.newest-image
    text-align: center

.gallery-slice
    background: #f1f1f1
    padding: 0 0 0 70px
    display: flex
    .left-column
        img
            border: 10px solid #fff
            
.about_museum
    .left-column
        img
            border: 10px solid #fff
            width: 50%

.link-list
    width: 100%
    .nolink
    background: none
    padding: 0 
    a
        text-decoration: none
        color: #444
        font-size: 13px
        font-weight: 700
        word-break: break-word

    li 
        line-height: normal
        padding: 0 0 10px 20px
        margin: 10px 0
        border-bottom: 1px solid #ccc
        background: url(/img/backgrounds/arrow-link.png) no-repeat
   
.link-list-tel
    padding-left: 10%
.right-column 
    width: 45%
    padding: 10px 20px

.about_museum
    .primary
        margin: 30px 30px 0 70px 
        h4
            background: none

.maps_contacts
    margin-top: 20px
    margin-left: 70px

    
.reception,
.booking
        background-color: #f1f1f1

.contacts_page
    .article-content
        border: none
        margin: 0
        padding: 0
        .article-heading
            padding-top: 30px

.row_contacts,
.museum_booking
    display: flex

.column h3 
    font-family: AgencyGothicCT-Medium
    font-weight: 400
    margin: 10px 0 10px 0
    font-size: 2vmin

.commerce
    .data
        width: 45%

.intro
    .link-list
        h3 
            padding-bottom: 3px

.data
    padding-bottom: 20px
    width: 60%
    .nolink
        background: none
        padding-left: 0

.link-list
    h3 
        font-family: AgencyGothicCT-Medium
        font-weight: normal
        margin: 0 0 2px 0px
        font-size: 20px
        background: none
.link-list
    padding-left: 30px
    width: 48%
table
    margin-left: 70px

table td 
    width: 186px
    vertical-align: middle
    text-align: center
    background: #f8f8f8
    background: -moz-linear-gradient(top, #f8f8f8 30%, #f0f0f0 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #f8f8f8), color-stop(100%, #f0f0f0))
    background: -webkit-linear-gradient(top, #f8f8f8 30%, #f0f0f0 100%)
    background: -o-linear-gradient(top, #f8f8f8 30%, #f0f0f0 100%)
    background: -ms-linear-gradient(top, #f8f8f8 30%, #f0f0f0 100%)
    background: linear-gradient(to bottom, #f8f8f8 30%, #f0f0f0 100%)

table
    th
        font-size: 14px
        font-weight: 200
        text-align: left
        line-height: 25px
        padding-bottom: 10px

.shops-info
    p
        margin-left: 70px

table
    td
        span 
            border-left: 5px solid #D5C89F
            display: block
            font-weight: 700
            padding: 0 20px 0 8px
            background-position: 15px 10px

table
    tr 
        border-top: 1px solid #fff

table
    tr
        td:first-child
            font-weight: 700
            border-right: 1px solid #fff
            width: 409px
            text-align: left
            line-height: 35px
            vertical-align: top


p.tel
    font-size: 24px

.stock-slice
    margin-bottom: 30px
    h4
        font-family: AgencyGothicCT-Medium
        font-size: 24px
        background: none
        margin-left: 70px
        margin-top: 30px

.header-block-h3    
    padding: 20px 0 30px 73px
    background: #F7F7F7
    h3
        background: none
.jq-selectbox 
    vertical-align: middle
    cursor: pointer

.jq-selectbox__select
    height: 32px
    padding: 0 45px 0 10px
    border: 1px solid #CCC
    border-bottom-color: #B3B3B3
    border-radius: 4px
    background: #F5F5F5
    background: -webkit-linear-gradient(#FFF, #E6E6E6)
    background: linear-gradient(#FFF, #E6E6E6)
    box-shadow: inset 1px -1px #F1F1F1, inset -1px 0 #F1F1F1, 0 1px 2px rgba(0,0,0,.1)
    font: 14px/32px Arial, sans-serif
    color: #333
    text-shadow: 1px 1px #FFF   
.jq-selectbox__dropdown
    /* box-sizing: border-box; */
    width: 100%
    margin: 2px 0 0
    padding: 0
    border: 1px solid #CCC
    border-radius: 4px
    background: #FFF
    box-shadow: 0 2px 10px rgba(0,0,0,.2)
    font: 14px/18px Arial, sans-serif
.jq-selectbox__trigger
    position: absolute
    top: 0
    right: 0
    width: 34px
    height: 100%
    border-left: 1px solid #CCC

.jq-selectbox__trigger-arrow
    position: absolute
    top: 14px
    right: 12px
    width: 0
    height: 0
    border-top: 5px solid #999
    border-right: 5px solid transparent
    border-left: 5px solid transparent
.slice.grey 
    background: #f1f1f1
    padding: 20px 0 20px 54px
    display: flex