a
    color: blue


.header-bg
    background: url(../images/header-bg.jpg) top left repeat-x
.logo
    display: block

.nav
    font-family: $accent-font
    margin-top: 97px
    text-align: right
    & > li
        font-size: 24px 
    &-item
        display: inline-block
        margin-left: 27px
    &-link
        color: #fff
        text-decoration: none
